body {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.container {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: background-color 1s linear;
}

.new-color {
    background-color: blueviolet;
}

.form {
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 50px;
}